<a href="https://colab.research.google.com/github/Mrcwr2/Python_Excel/blob/main/2_Begin__Variables_and_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables and datatypes

### Load required packages

In [ ]:
# Import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Used to create a date variable
from datetime import date

<br>

### Variables
---

## **Excel:**

*   Data is saved in cells ***(demo)***

## **Python:**



*   variables created with "="

    
    variable_name = value

<br>

In [ ]:
# Create the same variables in Python
A1 = 42
A2 = 3.14
A3 = 'I am Text'
A4 = date (2021,1,1)
A5 = True

<br>

In [ ]:
# Look at the variable values
A1 + A2

45.14

<br>

In [ ]:
# Use the print function
print (A1)
print (A2)
print (A3)
print (A4)
print (A5)

42
3.14
I am Text
2021-01-01
True

<br>

In [ ]:
# Check the type of A1 with type()
type (A1)

int

<br>

In [ ]:
# Check all types
print(type(A1))
print(type(A2))
print(type(A3))
print(type(A4))
print(type(A5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'datetime.date'>
<class 'bool'>

<br>

### Why variables?
---

Recall from last video:

    [1, 3, 5, 7, 9]

<br>

In [ ]:
# Save numbers from last video to variable
my_list = [1,3,5,7,9]

<br>

In [ ]:
# Check type of list variable
type(my_list)

list

<br>

In [ ]:
# Use np.mean() on variable
np.mean(my_list)

5.0

<br>

In [ ]:
# Create a variable "A" to save our A1 - A5 variables
A = [A1,A2,A3,A4,A5]

<br>

In [ ]:
# Inspect A
A

[42, 3.14, 'I am Text', datetime.date(2021, 1, 1), True]

<br>

### Accessing data in a list
---

In [ ]:
# Pull the 3rd element out of "A" using indexing
A[2]

'I am Text'

<br><br>
**QUICK CHALLENGE #1:**

You start training to run a marathon and want to use Python to keep track of how many miles you run every day. In the first week you run the following:

* 5.2 miles
* 3.1 miles
* 6 miles
* 0 miles
* 8.5 miles
* 4.7 miles
* 12.3 miles

**Task:**

*  Create a list using your daily miles ran
*  Save that list to a variable called `week_1_miles`
*  Calculate the total number of miles you ran in week 1
*  Write code which shows how many miles you ran on day 5 only

In [ ]:
# Your code for quick challenge #1 here:
week_1_miles = [5.2,3.1,6,0,8.5,4.7,12.3]

np.sum(week_1_miles)

39.8

In [ ]:
week_1_miles [4]

8.5

<br>

## Variables can store rows/columns of data
---

In [ ]:
# Save rows/columns as a variable
from vega_datasets import data
iowa = data.iowa_electricity()

In [ ]:
# Check type of variable
type(iowa)

pandas.core.frame.DataFrame

In [ ]:
# Inspect variable
iowa

         year          source  net_generation
0  2001-01-01    Fossil Fuels           35361
1  2002-01-01    Fossil Fuels           35991
2  2003-01-01    Fossil Fuels           36234
3  2004-01-01    Fossil Fuels           36205
4  2005-01-01    Fossil Fuels           36883
5  2006-01-01    Fossil Fuels           37014
6  2007-01-01    Fossil Fuels           41389
7  2008-01-01    Fossil Fuels           42734
8  2009-01-01    Fossil Fuels           38620
9  2010-01-01    Fossil Fuels           42750
10 2011-01-01    Fossil Fuels           39361
11 2012-01-01    Fossil Fuels           37379
12 2013-01-01    Fossil Fuels           34873
13 2014-01-01    Fossil Fuels           35250
14 2015-01-01    Fossil Fuels           32319
15 2016-01-01    Fossil Fuels           28437
16 2017-01-01    Fossil Fuels           29329
17 2001-01-01  Nuclear Energy            3853
18 2002-01-01  Nuclear Energy            4574
19 2003-01-01  Nuclear Energy            3988
20 2004-01-01  Nuclear Energy            4929
21 2005-01-01  Nuclear Energy            4538
22 2006-01-01  Nuclear Energy            5095
23 2007-01-01  Nuclear Energy            4519
24 2008-01-01  Nuclear Energy            5282
25 2009-01-01  Nuclear Energy            4679
26 2010-01-01  Nuclear Energy            4451
27 2011-01-01  Nuclear Energy            5215
28 2012-01-01  Nuclear Energy            4347
29 2013-01-01  Nuclear Energy            5321
30 2014-01-01  Nuclear Energy            4152
31 2015-01-01  Nuclear Energy            5243
32 2016-01-01  Nuclear Energy            4703
33 2017-01-01  Nuclear Energy            5214
34 2001-01-01      Renewables            1437
35 2002-01-01      Renewables            1963
36 2003-01-01      Renewables            1885
37 2004-01-01      Renewables            2102
38 2005-01-01      Renewables            2724
39 2006-01-01      Renewables            3364
40 2007-01-01      Renewables            3870
41 2008-01-01      Renewables            5070
42 2009-01-01      Renewables            8560
43 2010-01-01      Renewables           10308
44 2011-01-01      Renewables           11795
45 2012-01-01      Renewables           14949
46 2013-01-01      Renewables           16476
47 2014-01-01      Renewables           17452
48 2015-01-01      Renewables           19091
49 2016-01-01      Renewables           21241
50 2017-01-01      Renewables           21933