<a href="https://colab.research.google.com/github/Mrcwr2/Python_Excel/blob/main/3_Begin__Importing___Exporting_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing and Exporting data
---

## **Excel:**

*   Data is imported by opening CSV, XLSX, or other text file
*   Other methods include copy+paste, loading from a database, web

## **Python:**



*   Can load from same sources as Excel and more
*   Can import directly from web URLs
*   This course will focus on CSV & Excel Files

<br>

**Loading an Excel file:**

    data = pd.read_excel('filename.xlsx', sheet_name='sheet_name_in_workbook')

<br>

**Loading a CSV file**

    data = pd.read_csv('filename.csv')

<br>

**Exporting data**

    data.to_csv('exported_filename.csv')
    data.to_excel('exported_filename.xlsx')

<br>

### Load required packages
---

In [ ]:
# Import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<br><br>

### Import data from session storage (temporary, applies to this notebook only)
---

![upload-to-session.png]()

In [ ]:
# Load "failed_banks.xlsx"
failed_bank_path =

SyntaxError: ignored

<br>

In [ ]:
# Inspect bank_detail

<br>

In [ ]:
# Load the "cars.csv" file
cars_data = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/cars.csv'

<br>

In [ ]:
# Inspect cars_data
cars_data

'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/cars.csv'

<br><br>

### Import data from URL
---

# **[GitHub Course Files Link](https://github.com/The-Calculated-Life/python_analysis_for_excel/tree/main/data)**

In [ ]:
# URL for "failed_bank.xlsx"
failed_bank_path = 'https://github.com/The-Calculated-Life/python_analysis_for_excel/blob/main/data/failed_banks.xlsx?raw=True'

<br>

In [ ]:
# Feed URL into appropriate read function

<br>

In [ ]:
# Inspect data
bank_detail_web

<br>

In [ ]:
# Save desired URL to a variable (wrapped in quotations/ticks)
cars_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/cars.csv'

<br>

In [ ]:
# Feed URL into the appropriate function
cars_data_web = pd.read_csv (cars_path)

<br>

In [ ]:
# Inspect result
cars_data_web

                          Name  Miles_per_Gallon  ...      Year  Origin
0    chevrolet chevelle malibu              18.0  ...  1/1/1970     USA
1            buick skylark 320              15.0  ...  1/1/1970     USA
2           plymouth satellite              18.0  ...  1/1/1970     USA
3                amc rebel sst              16.0  ...  1/1/1970     USA
4                  ford torino              17.0  ...  1/1/1970     USA
..                         ...               ...  ...       ...     ...
401            ford mustang gl              27.0  ...  1/1/1982     USA
402                  vw pickup              44.0  ...  1/1/1982  Europe
403              dodge rampage              32.0  ...  1/1/1982     USA
404                ford ranger              28.0  ...  1/1/1982     USA
405                 chevy s-10              31.0  ...  1/1/1982     USA

[406 rows x 9 columns]

<br><br>
**QUICK CHALLENGE #1:**

Python can load data from many sources, including from a web URL. 

We are going to use many different real world datasets throughout the course. One of the datasets you are going to use for many of the quick challenges is the Book-Crossing Book Rating data. The original data comes from [Kaggle.com](https://www.kaggle.com/ruchi798/bookcrossing-dataset) but has been uploaded to the GitHub page for the course for easy access.

<br>

**Task:**

*  Load the `bx_books.csv` file from the GitHub page ([Link to data](https://github.com/The-Calculated-Life/python_analysis_for_excel/tree/main/data))
*  Save the data in a variable called `bx_books`

In [ ]:
bx_books_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_books.csv'

# Your code for quick challenge #1 here:

In [ ]:
# my URL Feed
bx_books = pd.read_csv(bx_books_path)

In [ ]:
bx_books

              isbn  ...                                         publisher
0        195153448  ...                           Oxford University Press
1          2005018  ...                             HarperFlamingo Canada
2         60973129  ...                                   HarperPerennial
3        374157065  ...                              Farrar Straus Giroux
4        393045218  ...                        W. W. Norton &amp; Company
...            ...  ...                                               ...
271374   440400988  ...                   Random House Childrens Pub (Mm)
271375   525447644  ...                                      Dutton Books
271376  006008667X  ...                                HarperSanFrancisco
271377   192126040  ...                           Oxford University Press
271378   767409752  ...  McGraw-Hill Humanities/Social Sciences/Languages

[271379 rows x 5 columns]

<br><br>

### Import data from Google Drive
---

##### Option 1: In Left Navigation

![mount-drive.png]()

##### Option 2: Using google.colab package

In [ ]:
# Mount Google Drive via code

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<br>

In [ ]:
# Read "cars.csv" from Google Drive
cars_data_gdrive = pd.read_csv('/content/drive/MyDrive/Excel-to-Python-Course-Files/Excel-to-Python-Course-Files/Data/cars.csv')

<br>

In [ ]:
# Inspect cars data
cars_data_gdrive

                          Name  Miles_per_Gallon  ...      Year  Origin
0    chevrolet chevelle malibu              18.0  ...  1/1/1970     USA
1            buick skylark 320              15.0  ...  1/1/1970     USA
2           plymouth satellite              18.0  ...  1/1/1970     USA
3                amc rebel sst              16.0  ...  1/1/1970     USA
4                  ford torino              17.0  ...  1/1/1970     USA
..                         ...               ...  ...       ...     ...
401            ford mustang gl              27.0  ...  1/1/1982     USA
402                  vw pickup              44.0  ...  1/1/1982  Europe
403              dodge rampage              32.0  ...  1/1/1982     USA
404                ford ranger              28.0  ...  1/1/1982     USA
405                 chevy s-10              31.0  ...  1/1/1982     USA

[406 rows x 9 columns]

<br>

<br>

### Exporting data
---

In [ ]:
# Make a basic pivot table for "cars_data_gdrive"
cars_data_gdrive.pivot_table(columns='Cylinders')

Cylinders               3            4            5            6            8
Acceleration        13.25    16.616425    18.633333    16.263095    12.837037
Displacement        72.50   109.900966   145.000000   218.142857   345.203704
Horsepower          99.25    78.470297    82.333333   101.506024   158.453704
Miles_per_Gallon    20.55    29.286765    27.366667    19.985714    14.963107
Weight_in_lbs     2398.50  2312.685990  3103.333333  3198.226190  4105.194444

<br>

In [ ]:
# Save our neat pivot table as "cars_pivot_cylinder"
cars_pivot_cylinder = cars_data_gdrive.pivot_table(columns='Cylinders')

<br>

In [ ]:
# Export the result as CSV
cars_pivot_cylinder.to_csv('my_sweet_pivot_table.csv')

<br>

In [ ]:
# Export as Excel file
cars_pivot_cylinder.to_excel('my_sweet_pivot_table.xlsx',sheet_name='Car Pivot')

<br>

<br><br>

# Data importing will be mostly handled for you in the course (this code will appear at the top of most lectures)

In [ ]:
# Save Github location paths to a variable
failed_bank_path = 'https://github.com/The-Calculated-Life/python_analysis_for_excel/blob/main/data/failed_banks.xlsx?raw=true'
bx_books_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_books.csv'
bx_ratings_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_ratings.csv'
bx_users_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_users.csv'

# Read Excel and CSV files
bank_detail = pd.read_excel(failed_bank_path, sheet_name='detail')
bank_list = pd.read_excel(failed_bank_path, sheet_name='banks')
bank_dividends = pd.read_excel(failed_bank_path, sheet_name='dividends')
bx_books = pd.read_csv(bx_books_path)
bx_ratings = pd.read_csv(bx_ratings_path)
bx_users = pd.read_csv(bx_users_path)

NameError: ignored