<a href="https://colab.research.google.com/github/Mrcwr2/Python_Excel/blob/main/5_Begin__Exploring_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploring Dataframes
---


## **Python:**

*   Dataframes have functions and attributes

<br>

**Dataframe Functions (methods):**

```
.head()
.tail()
.info()
.describe()
.value_counts()
```

**Dataframe Attributes**



```
.shape
.columns
```

<br>

<br>

### Load required packages and data
---

In [ ]:
# Import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Save Github location paths to a variable
failed_bank_path = 'https://github.com/The-Calculated-Life/python_analysis_for_excel/blob/main/data/failed_banks.xlsx?raw=true'
bx_books_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_books.csv'
bx_ratings_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_ratings.csv'
bx_users_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_users.csv'

# Read excel and CSV files
bank_detail = pd.read_excel(failed_bank_path, sheet_name='detail')
bank_list = pd.read_excel(failed_bank_path, sheet_name='banks')
bank_dividends = pd.read_excel(failed_bank_path, sheet_name='dividends')
bx_books = pd.read_csv(bx_books_path)
bx_ratings = pd.read_csv(bx_ratings_path)
bx_users = pd.read_csv(bx_users_path)

<br>

### View first and last rows
---

In [ ]:
# Inspect bank_list
bank_list

      CERT  ... Closing Date
0    14361  ...   2020-04-03
1    18265  ...   2020-02-14
2    21111  ...   2019-11-01
3    58317  ...   2019-10-25
4    58112  ...   2019-10-25
..     ...  ...          ...
556  32646  ...   2001-07-27
557   6629  ...   2001-05-03
558  34264  ...   2001-02-02
559   3815  ...   2000-12-14
560  21029  ...   2000-10-13

[561 rows x 6 columns]

<br>

In [ ]:
# View top 5 rows of bank_list
bank_list.head()

    CERT  ... Closing Date
0  14361  ...   2020-04-03
1  18265  ...   2020-02-14
2  21111  ...   2019-11-01
3  58317  ...   2019-10-25
4  58112  ...   2019-10-25

[5 rows x 6 columns]

<br>

In [ ]:
# View top row of bank_list
bank_list.head(1)

    CERT             Bank Name  ... Acquiring Institution Closing Date
0  14361  The First State Bank  ...        MVB Bank, Inc.   2020-04-03

[1 rows x 6 columns]

<br>

In [ ]:
# View last 5 rows of bank_list
bank_list.tail()

      CERT  ... Closing Date
556  32646  ...   2001-07-27
557   6629  ...   2001-05-03
558  34264  ...   2001-02-02
559   3815  ...   2000-12-14
560  21029  ...   2000-10-13

[5 rows x 6 columns]

<br>

<br>

### Dataframe info and statistics

---

In [ ]:
# Look at dataframe information for "bank_detail"
bank_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CERT            579 non-null    int64
 1   FIN             566 non-null    float64
 2   CHARTER         579 non-null    object
 3   ESTIMATED LOSS  563 non-null    float64
 4   ASSETS          579 non-null    int64
 5   DEPOSITS        579 non-null    int64
 6   RESOLUTION      579 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 31.8+ KB

<br>

In [ ]:
# See basic statistics for dataframe "bank_detail"
bank_detail.describe()

               CERT           FIN  ESTIMATED LOSS        ASSETS      DEPOSITS
count    579.000000    566.000000    5.630000e+02  5.790000e+02  5.790000e+02
mean   31487.262522   9989.856890    1.302998e+05  6.794700e+06  3.265954e+06
std    16455.092323   1212.058394    5.876533e+05  8.050567e+07  4.165329e+07
min       91.000000   4641.000000    0.000000e+00  3.785000e+03  5.000000e+02
25%    19973.500000  10112.250000    1.480600e+04  9.122350e+04  7.871250e+04
50%    32069.000000  10253.500000    3.833400e+04  2.036900e+05  1.827600e+05
75%    35354.500000  10394.750000    9.262400e+04  5.042295e+05  4.424215e+05
max    58701.000000  10536.000000    1.207221e+07  1.471631e+09  9.546776e+08

<br>

<br>

### Quickly count data frequency/percentages
---

In [ ]:
# How many failed banks in "bank_detail" were there in each charter type?
bank_detail['CHARTER'].value_counts()

COMMERCIAL    433
OTHER         146
Name: CHARTER, dtype: int64

<br>

In [ ]:
# What percent of failed banks in "bank_detail" were there in each charter type?
bank_detail['CHARTER'].value_counts(normalize=True)

COMMERCIAL    0.747841
OTHER         0.252159
Name: CHARTER, dtype: float64

<br>

<br>

### Find number of rows and columns
---

In [ ]:
# How many rows and columns?
bank_list.shape

(561, 6)

<br>

In [ ]:
# How many rows only?
bank_list.shape[0]

561

<br>

In [ ]:
# Perform calculations on shape
bank_list.shape[0] +10

571

<br>

<br>

### List all columns in a dataframe
---

In [ ]:
# Return a list of all columns in "bank_list"
bank_list.columns

Index(['CERT', 'Bank Name', 'City', 'ST', 'Acquiring Institution',
       'Closing Date'],
      dtype='object')

<br>

In [ ]:
# Change the column names in "bank_list"
new_columns = ['bank_number', 'bank_name', 'city', 'state', 'acquired_by', 'closed']

bank_list.columns = new_columns

<br>

In [ ]:
# View the first 5 rows
bank_list.head()

   bank_number  ...     closed
0        14361  ... 2020-04-03
1        18265  ... 2020-02-14
2        21111  ... 2019-11-01
3        58317  ... 2019-10-25
4        58112  ... 2019-10-25

[5 rows x 6 columns]

<br><br>
**QUICK CHALLENGE #1: Answer questions about your data frame**

Dataframes come with many functions and attributes that make exploring much easier.

<br>

**Task: Answer the following questions using the `bx_users` dataframe**


*Hint: Select the correct answer and then press the play button to run the code*

<br>

In [ ]:
#@title 1. What is the datatype of the location column? { run: "auto" }

Your_Answer = "object" #@param ["Select answer", "int64", "geo", "object", "float64"]

if(Your_Answer == "object"):
  print('Great, that is correct!')
else:
  print("That is not correct, did you try using the .info() function?")

Great, that is correct!

In [ ]:
#@title 2. Are there any missing values? { run: "auto" }

Your_Answer = "Yes" #@param ["Select answer", "Yes", "No"]

if(Your_Answer == "Yes"):
  print('Great, that is correct!')
else:
  print("That is not correct, did you try using the .info() function?")

Great, that is correct!

In [ ]:
#@title 3. What is the average (mean) age across all users? (rounded) { run: "auto" }

Your_Answer = "35" #@param ["Select answer", "25", "30", "35", "40"]

if(Your_Answer == "35"):
  print('Great, that is correct!')
else:
  print("That is not correct, did you try using the .describe() function?")

Great, that is correct!

<br>

In [ ]:
# Your code for quick challenge #1 here:
bx_users

        user_id                            location   age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [ ]:
bx_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   278858 non-null  int64
 1   location  278858 non-null  object
 2   age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

<br>

In [ ]:
bx_users.describe()

            user_id            age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

<br>

### Bonus: Explore data using Google Colab data table extension
---

In [ ]:
# Load the data_table extension
%load_ext google.colab.data_table

<br>

In [ ]:
# Inspect "bank_list" with data_table activated
bank_list

     bank_number  ...     closed
0          14361  ... 2020-04-03
1          18265  ... 2020-02-14
2          21111  ... 2019-11-01
3          58317  ... 2019-10-25
4          58112  ... 2019-10-25
..           ...  ...        ...
556        32646  ... 2001-07-27
557         6629  ... 2001-05-03
558        34264  ... 2001-02-02
559         3815  ... 2000-12-14
560        21029  ... 2000-10-13

[561 rows x 6 columns]